<div class="container-fluid" id="app">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="icon-arrow-down"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="mt-0 mb-4 header-title">Edit data pemasukan</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="mt-0 mb-4 header-title text-right"><%= data.id%></h4>
                        </div>
                     </div>
                    

                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Nama Client</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%= data.nama %>" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">No Hp</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" value="<%= data.nohp %>" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%= data.email %>" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Nama Usaha</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%= data.namausaha %>" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Alamat</label>
                        <div  class="col-sm-10">
                            <textarea required class="form-control"  rows="3"><%= data.alamat %></textarea>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light" id="alertify-confirm">
                                Edit 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- END ROW -->

</div>

<script>
    function tambah(){
        location.href = "/pembelian"
    }
    
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> 
<script>
    var app = new Vue({
     el: '#app',
     data: {
         valueJenis:'<%= data.jenis  %>',
         valueStatus:'<%= data.status  %>',
         valueClient:'<%= data.client  %>'
     }
     })
 </script>

