<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="mdi mdi-tshirt-crew"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START button-->
    <div class="row">
        <div class="col py-3 text-right">
          <button type="button" class="btn btn-secondary waves-effect waves-light"  onclick="edit('<%= data.id %>')"><i class="mdi mdi-file-document-edit-outline align-middle mr-2"></i>Edit barang jadi</button>
        </div>
    </div>
    <!-- end button -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 mb- header-title">Data barang jadi</h4>


                    <div class="form-group row">
                        <h3 class="col-sm-6 pl-4"><%= data.id %></h3>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Minggu</label>
                        <div class="col-sm-10">
                            <%= data.tgl %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Nama Item</label>
                        <div class="col-sm-10">
                            <%= data.nama %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Banyak (pcs)</label>
                        <div class="col-sm-10">
                            <%= data.jml %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Harga Pokok (Rp)</label>
                        <div class="col-sm-10">
                            <%= data.hargapokok %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Harga Barang/pcs (Rp)</label>
                        <div class="col-sm-10">
                            <%= data.hargabrgpcs %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Keterangan</label>
                        <div class="col-sm-10">
                            <%= data.ket %>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- END ROW -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="mt-0 mb- header-title">Sub Item</h4>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Pekan</th>
                                    <th>No</th>   
                                    <th>Nama Item</th>                  
                                    <th>Banyak (pcs)</th>
                                    <th>Tot. Harga (Rp)</th>
                                    <th>Tot. Upah (Rp)</th>
                                    <th>Harga Barang/pcs (Rp)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr> 
                                    <td>Minggu 10,2020</td>
                                    <td><a onclick="detilsub('3C-2020020001')" style="color:#2980b9">3C-2020020001</a></td>
                                    <td>Kaos</td>
                                    <td>150</td>
                                    <td>4,750,000</td>
                                    <td>750,000</td>
                                    <td>36,700</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                   
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- END ROW -->

</div>

<script>
    function edit(id){
        if(id=="3D-2020020001"){
            location.href = "/dataproduksi/barangjadi/edit/"+id+"?id=3D-2020020001&tgl=2020-W11&jml=150&hargapokok=6,000,000&hargabrgpcs=40,000&sub=3C-2020020001&nama=kaos";
        }
    }

    function detilsub(id){
        if(id=="3C-2020020001"){
            location.href = "/dataproduksi/jahit/detil/"+id+"?id=3C-2020020001&tgl=minggu 10,2020&jml=150&totbiaya=4,750,000&upahpcs=5,000&totupah=750,000&hargapcs=36,700&subitem=3A-2020020001,3A-2020020002&ket=-&jenis=cutting&totupahming=2,250,000&&sub=3A-2020020001,3A-2020020002";
        }
    }
</script>