<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="mdi mdi-printer-3d-nozzle"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START button-->
    <div class="row">
        <div class="col py-3 text-right">
          <button type="button" class="btn btn-secondary waves-effect waves-light"  onclick="edit('<%= data.id %>')"><i class="mdi mdi-file-document-edit-outline align-middle mr-2"></i>Edit sablon</button>
        </div>
    </div>
    <!-- end button -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 mb- header-title">Data sablon</h4>


                    <div class="form-group row">
                        <h3 class="col-sm-6 pl-4"><%= data.id %></h3>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Minggu</label>
                        <div class="col-sm-10">
                            <%= data.tgl %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Nama Item</label>
                        <div class="col-sm-10">
                            <%= data.nama %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Banyak (pcs)</label>
                        <div class="col-sm-10">
                            <%= data.jumlah %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Total Biaya</label>
                        <div class="col-sm-10">
                            <%= data.totharga %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Upah/pcs (Rp)</label>
                        <div class="col-sm-10">
                            <%= data.upahpcs %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Total Upah</label>
                        <div class="col-sm-10">
                            <%= data.totupah %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Harga Barang/pcs (Rp)</label>
                        <h6 class="col-sm-10">
                            <%= data.hargapcs %>
                        </h6>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2">Keterangan</label>
                        <div class="col-sm-10">
                            <%= data.ket %>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- END ROW -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 mb- header-title">Sub Item</h4>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Tanggal</th>
                                    <th>No</th>
                                    <th>Nama Item</th>
                                    <th>Banyak(Pcs)</th>
                                    <th>Total Biaya(Rp)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>25/02/2020</td>
                                    <td><a onclick="detilsub('3A-2020020001')" style="color:#2980b9">3A-2020020001</a></td>
                                    <td>Singlet</td>
                                    <td>100</td>
                                    <td>3,000,000</td>
                                </tr>
                                <tr>
                                    <td>25/02/2020</td>
                                    <td><a onclick="detilsub('3A-2020020002')" style="color:#2980b9">3A-2020020002</a></td>
                                    <td>Kaos</td>
                                    <td>50</td>
                                    <td>1,750,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                   
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- END ROW -->

</div>

<script>
     function edit(id){
        if(id=="3B-2020020001"){
            location.href = "/dataproduksi/sablon/edit/"+id+"?id=3B-2020020001&tgl=2020-W09&totharga=4,750,000&jumlah=150&upahpcs=5,000&totupah=750,000&hargapcs=36,700&hasilpcs=0.5&sub=3A-2020020001,3A-2020020002&ket=-&nama=kaos";  
        }
    }

    function detilsub(id){
        if(id=="3A-2020020001"){
            location.href = "/dataproduksi/cutting/detil/"+id+"?id=3A-2020020001&tgl=25/02/2020&nama=Singlet&berat=50&jumlah=100&tothbahan=2,500,000&totbiaya=3,000,000&upahpcs=5,000&hasilpcs=0.5&hargakg=50,000&jenis=polos&varian=solid&warna=putih&ket=-";
        }else if(id=="3A-2020020002"){
            location.href = "/dataproduksi/cutting/detil/"+id+"?id=3A-2020020002&tgl=25/02/2020&nama=Kaos&berat=30&jumlah=50&tothbahan=1,500,000&totbiaya=1,750,000&upahpcs=5,000&hasilpcs=1.6&hargakg=50,000&jenis=full print&varian=two tone&warna=biru&ket=-";
       }
    }
</script>